extends layout

block content
  h1= title
  p Welcome to #{title}
  p Math.pow() applies to #{x} and #{y} is #{pow}
  
  p Math.sign() applies to #{z} is #{sign}
  
  p Math.tanh() applies to #{k}  is #{tanh}
  
  p Math.trunc() applies to #{l} is #{trunc}
  